@charset "utf-8";
/* CSS Document */

/************************************************************************************
smaller than 1024 PAD
*************************************************************************************/
@media screen and (max-width: 1024px) {	
/*@media screen and (min-width: 640px) */{	
	body{font-family: "微软雅黑"," Microsoft YaHei", arial,SimSun; font-size: 24px; color: #888; overflow-x: hidden;}
#header{width: 100%; height: 136px; border-top: 3px solid #909398;}
#header .heaerInner{width: 100%; margin: 0 auto;}
#header .heaerInner .logo{ float: none; margin-right: 0px; margin-top:10px; vertical-align: middle;}
#header .heaerInner .nav{ float: none;}
#header .heaerInner .nav li{ float: none; margin: 32px 10px 0;}
#header .heaerInner .nav li a{ color: #888; display: block;}
#header .heaerInner .nav li a.active,#header .heaerInner .nav li a:hover{color: #000; border-bottom: 4px solid #fcd54f;}
#banner{}
#category{width: 100%; height: 602px; background:#fbc523 url(../images/bg-cat.jpg) center no-repeat; color: #fff; font-size: 14px; overflow: hidden;}
#category .categoryInner{width: 1152px; margin: 0 auto; padding: 22px 0;height: 558px;}
#category .categoryInner div{ float: left; height: 100%;}
#category .categoryInner div.categoryL{ background: #c87711; width: 480px; overflow: hidden;}
#category .categoryInner div.categoryM{ position: relative; width: 318px;}
#category .categoryInner div.categoryM .txtM{ position: absolute; top: 35px; left:125px; z-index: 1; color: #747474;}
#category .categoryInner div.categoryM .txtM span{ text-align:center; font-size: 20px; color: #fb8720;}
#category .categoryInner div.categoryR{ background: #d1515f; width: 354px;}
#category .categoryInner .txtL{ padding: 10px 30px 0;}
#category .categoryInner .txtR{ padding: 12px 0 0 30px;}
#category .categoryInner .txtR span{ font-size: 25px;}
.font58{font-size: 58px;}
.font24{font-size:24px;}
#classList{width: 100%; height: 558px; background:#fff url(../images/bg-class.jpg) center no-repeat; color: #888; font-size: 14px; overflow: hidden;}
#classList .classListInner{ width:1152px; margin: 0 auto; height: 100%; padding-top: 20px;}
#classList .classListInner .eleQin,#classList .classListInner .eleQi,#classList .classListInner .eleShu,#classList .classListInner .eleHua{float:left;width: 48%; height: 50%;}
#classList .classListInner .eleQin h3{ color: #4b73c3; font-size: 24px;}
#classList .classListInner .eleQi h3{color: #0ec228; font-size: 24px;}
#classList .classListInner .eleShu h3{color: #e97100; font-size: 24px;}
#classList .classListInner .eleHua h3{color: #e0495c; font-size: 24px;}
#classList .classListInner .eleQin { margin-right:2%; }
#classList .classListInner .eleQi {}
#classList .classListInner .eleShu {margin-right:2%; }
#classList .classListInner .eleHua {}
#classList .imgL,#classList .eleL{float: left;}
#classList .eleR,#classList .imgR{ float: right;}
#classList .imgL,#classList .imgR{ width: 48%;}
#classList .imgL img,#classList .imgR img{ width: 100%;}
#classList .eleR,#classList .eleL{width: 50%;}
#honer{width: 100%;background: #fbca23;}
#honer .honerInner{width: 1152px; margin: 0 auto;}
#honer .honerInner .hInTop{ padding-top: 45px; margin-bottom: 15px;}
#honer .honerInner .hInTop .hInTopL{ float: left; width: 60%;}
#honer .honerInner .hInTop h3{color: #714d29; font-size: 65px; margin-bottom: 15px;}
#honer .honerInner .hInTop p{ color: #FFFFFF; font-size: 22px; line-height: 40px;}
#honer .honerInner .hInTop .hInTopR{ float: right; width: 35%}
#honer .honerInner ul{}
#honer .honerInner ul li{ position: relative; float: left;width: 16%; text-align: center;  height: 240px; overflow: hidden;}
#honer .honerInner ul li.ruan{width: 14%;}
#honer .honerInner ul li.ying{width: 16%;}
#honer .honerInner ul li.hua{width: 20%;}
#honer .honerInner ul li.su{width: 13%;}
#honer .honerInner ul li.shui{width: 10%;}
#honer .honerInner ul li.you{width: 20%;}
#honer .honerInner ul li img{ display: block; position: absolute; bottom:-12px; }
#strongN{width: 100%; background: #d2a047; color: #fff;font-size: 18px;}
#strongN .strongNInner{ margin: 0 auto; width: 1152px; position: relative; height: 650px; }
#strongN .strongNInner h3{ margin-bottom: 20px;}
#strongN .strongNInner .strongInL{padding-top: 45px; width: 660px;}
#strongN .strongNInner .strTip{font-size: 36px; color: #000; margin-bottom: 30px;}
#strongN .strongNInner .strTxtC{font-size: 24px; color: #714d29; margin-bottom: 60px;width: 590px;}
#strongN .strongNInner .strTxtE{width: 480px;}
#strongN .strongNInner .txtR{ text-align: right;width: 480px;}
#strongN .strongNInner span{ position: absolute; z-index: 1; text-indent: -9999; }
#strongN .strongNInner span.strong01{ right: 180px; top: 30px;}
#strongN .strongNInner span.strong02{ right: 360px; top: 315px;}
#strongN .strongNInner span.strong03{ right: 0px; top: 315px;}
#honer{width: 100%; background: #c8c8cf; color: #fff;font-size: 22px;}
#honer .honInner{ margin: 0 auto; width: 1152px;  padding-top: 40px; }
#honer .honInner .honL{float: left; width: 50%;}
#honer .honInner .honL ul{}
#honer .honInner .honL ul li{ width: 30%; float: left; margin-bottom: 15px;text-align: right; }
#honer .honInner .honL ul li.liTxt{width: 40%; text-align: left;}
#honer .honInner .honL ul li.liTxt h3{ border-bottom: 1px solid #fff; width: 90%; font-size: 50px;}
#honer .honInner .honL ul li.liTxtB{ width: 33.33%; }
#honer .honInner .honR{float: right; width: 45%;}
#honer .honInner .honR ul li{ width: 33%; float: left; margin-bottom: 15px;}
#honer .honInner .honR h3{ font-size: 60px; color: #714d29; margin-bottom: 10px;}
#footer{ width: 100%; background: #714d29;}
#footer .footInner{ width: 840px; margin: 0 auto; color: #fff; font-size: 20px; text-align: center; padding-top: 20px;}
#footer .footInner ul li{float: left; width: 20%; padding-bottom: 10px;}
#footer .footInner ul li img{display: inline; text-align: center;vertical-align: middle; padding-bottom: 20px;}
#footer .footInner ul li span{display: block; }
#footer .footInner p{ border-top: 1px solid #fff; padding: 10px; font-size: 14px;}
	
		
}


/************************************************************************************
smaller than 480 PHONE
*************************************************************************************/
@media screen and (max-width: 640px) {

}


/************************************************************************************
bigger than 1024  PC
*************************************************************************************/
@media screen and (min-width: 1024px) {
	
}

